body{
    margin: auto;
    padding: 0 10px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.element{
    width: 300px;
    padding: 20px;
    margin: 20px;
}

.content{
    color: red;
    font-size: 20px;
}

.offers {
    display: flex;
    flex-wrap: wrap;
}

.offer{
    width: 350px;
    height: 350px;
    margin: 30px;
}