{% extends 'base.html' %}

{% block title %}
  About our shop
{% endblock %}

{% block content %}
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero et tellus eleifend, non mattis ex vestibulum. Sed varius tempus rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum scelerisque, magna id sollicitudin lobortis, turpis felis ullamcorper massa, at vestibulum nibh dui id felis. Nulla rhoncus elit non ultricies euismod. Praesent mauris mi, fermentum et sapien eu, accumsan mattis nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer malesuada tellus vel cursus sollicitudin.</p>
</div>
{% endblock %}