{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <div class="element">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat ornare arcu eget tincidunt. Maecenas rhoncus interdum tristique. Phasellus urna arcu, efficitur vitae libero et, blandit ultricies arcu</div>
    <div class="element">Phasellus pellentesque mauris id turpis maximus consectetur. Sed pharetra eget nunc at malesuada. Curabitur fermentum id diam vel blandit.</div>
    <div class="element">Donec libero dolor, posuere sed neque eget, dignissim pellentesque dolor.</div>
</div>
{% endblock %}