{% extends "base.html" %}

{% block title %}
Offers
{% endblock %}

{% block content %}
  <h1>Current shop offers</h1>
  <form action="" method="POST">
      <label for="phrase">Search: </label>
      <input type="text" name="phrase" id="phrase"/><br>
      {% for type in tea_type %}
        <input type="checkbox" id="{{ type[0] }}" name="{{ type[0] }}"/>
        <label for="{{ type[0] }}">{{ type[0] }}</label>
      {% endfor %}<br>
      Price:
      <input type="number" name="min_price" class="price" placeholder="Min">
      <input type="number" name="max_price" class="price" placeholder="Max">
      <button type="submit" name="send" value="send">Search</button>
  </form><br><br>
  <div class="offers">
  {% for id, name, desc, image, price in data %}
    <div class="offer">
      {% if image %}
        <img src="/static/images/{{image}}" style="width: 200px; height:200px"/><br>
      {% endif %}
      {{ name }}<br>
      {{ desc }}<br>
      {{ price }}<br><br>
      <a href="{{ url_for('product_details', id=id) }}">
          <span class="link"></span>
      </a>
    </div>
  {% endfor %}
  </div>
{% endblock %}